main{
    background-color: #000;
}
.carouselImage{
    height: 75vh;
    width: 100vw;
}

.aboutSection{
    padding: 1.4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center center;
}

.aboutSection>div{
    width: 40vw;
    color: #fff;
}
.title{
    font-size: 2.5em;
    font-weight: bold;
}
.about{
    /* text-align: center; */
    font-size: 1em;
}
.aboutTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutImage{
    width: 100%;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center center;
    padding: 2em;
}
.menuSection{
    width: 20vw;
    height: 250px;
    box-shadow: #00000059 0px 5px 15px;
    padding: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuSection:hover{
    transform: scale(0.8);
    transition: 0.5s ease;
}
.coffeeMenu{
    background-image: url(./Images/Menu/service1.jpg);
    /* opacity: 0.4; */
    width: 100%;
}

.resturantMenu{
    background-image: url(./Images/Menu/service2.jpg);
    /* opacity: 0.4; */
    width: 100%;
}

.menuContainer{
    border: 2px solid goldenrod;
    border-radius: 10px;
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuContainer>span{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}
.menuicon, .menuTitle{
    color: #fff;
}

.dishesContainer{
    padding: 1.4em;
}
.dishesheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.3em;
}
.dishes-btn-container{
    padding: 20px;
    display: flex;
    gap: 1.4em;
}
.dishes-btn-container>span{
    padding: 8px 20px;
    background-color: black;
    color: #fff;
    border-radius: 8px;
    border: 2px solid;
    border-color: goldenrod;  
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
}
.dishes-title{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}
.all-button{
    background-color: aquamarine;
}

.food-Item{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 30vw;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.food-Item:hover{
    border: 2px solid goldenrod;
    transition: border 0.5s ease;
}
.foodTitle{
    font-size: 1.3em;
    font-weight: 700;
}
.food-Item-container{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #fff;
    place-items: center center;
}
.item-description{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    height: 80%;
}
.itemImage{
    height: 30vh;
    width: 50%;
}
.reviewContainer{
    background-image: url(../Images/Carousels/Banner-2.jpg);
    text-align: center;
}
.reviewhead{
    font-size: 1.7em;
    color: #fff;
    font-weight: bold;
}
.reviews{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center center;
    gap: 20px;
}

.reviewcard{
    border-radius: 5px;
    background-color: #fff;
    height: 300px;
    width: 22vw;
    color: #000;
    padding: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.reviewcard>div{
    padding: 0.8em;
}
.profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.person{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

@media screen and (max-width:550px) {
    .carousel{
        height: 30vh;
    }
    .carouselImage{
        height: 100%;
    }
    .aboutSection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: start;
    }
    .aboutTitle{
        margin-top: 10%;
        /* text-align: center; */
        height: 30vh;
    }
    .title{
        font-size: 1.3em;
        text-align: center;
    }
    .about{
        display: none;
    }
    .aboutImage{
        margin-top: -25vh;
        width: 90vw;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    #foodItem2,#foodItem4,#foodItem6,#foodItem8{
        display: none;
    }
    #coffee2,#coffee4,#coffee6{
        display: none;
    }
    .food-Item-container{
        /* margin: 20px 0px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        color: #fff;
        place-items: center center;
    }
    .food-Item{
        display:flex;
        flex-direction: row;
        gap: 1em;
        width: 80vw;
        height: 250px;
        justify-content: center;
        align-items: center;
    }
    .food-Item:hover{
        border: 2px solid goldenrod;
        transition: border 0.5s ease;
    }
    .reviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .reviewcard{
        width: 80vw;
    }
    #reviewCard2,#reviewCard4,#reviewCard6{
        display: none;
    }
    .foodTitle{
        font-weight: 600;
        font-size: 1.2em;
    }
}